/* @override 
	http://localhost:5678/tipi.css */
	
span.variable {
	font-style: italic;
}

td.formula-name {
	text-align: right;
}

table.tptp-db tr td.formula-proper {
	border-bottom: 1px solid #333;
}

table.tptp-db tr td.formula-proper {
	border-left: 1px solid #333;
}

td.plain {
	background-color: blue;
}

span.plain {
	background-color: blue;
}

td.conjecture {
	background-color: red;
}

span.conjecture {
	background-color: red;
}

td.negated_conjecture {
	background-color: red;
}

span.negated_conjecture {
	background-color: red;
}

td.definition {
	background-color: green;
}

span.definition {
	background-color: green;
}

td.lemma {
	background-color: yellow;
}

span.lemma {
	background-color: yellow;
}

td.theorem {
	background-color: orange;
}

span.theorem {
	background: orange;
}

td.hypothesis {
	background-color: silver;
}

span.hypothesis {
	background-color: silver;
}

td.axiom {
	background-color: pink;
}

span.axiom {
	background-color: pink;
}

tfoot {
	text-align: center;
	font-size: small;
	font-style: italic;
	font-weight: bold;
}

.formula-name {
	font-family: "Courier New", Courier, mono;
}

.file-name {
	font-family: "Courier New", Courier, mono;
}